# Godot-specific files that should NOT be tracked
**/*.import/
.import
.export/
.sconsign.dblite
godot.cfg
*.gen.*
.godot/
/android/

# Python-specific files
**/*.pyc
__pycache__/

# Virtual environment directories
venv/
.venv
          


# OS-specific files (Mac & Windows)
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.temp

